@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primaryColor: #762D5A;
$secondaryColor: #46ffe6;
$secondaryColor2: #5CBCB8;
$white: #FFFFFF;
$black: #000000;
$gray: #909090;
$lightGray: #C4C4C4;
$fontFam: 'Raleway', sans-serif !important;

html, body {
    font-family: $fontFam;
    width: 100%;

    header {
        height: 0px;
        transition: 0.2s;
        opacity: 0;
        width: 100%;
    }

    #header-1 {
        position: fixed;
        // width: 100%;
        z-index: 99999;

        .header-container {
            padding: 27px 0px 11px 0px;
            margin: auto;
            max-width: 1440px;

            .custom-logo-link {
                .custom-logo {
                    max-height: 70px !important;
                    max-width: 225px;

                    @media only screen and (max-width: 576px) {
                        max-height: 35px !important;
                        max-width: 112px;
                    }
                }
            }

            .right {
                .lang-sosmed {
                    margin: 0px !important;

                    .lang {
                        color: $white;
                        margin-bottom: 40px;
                    }
    
                    .sosmed {
                        a {
                            padding: 8px;
                            text-align: center;

                            i {
                                font-size: 26px;
                                color: $white;
                            }
                        }
                    }
                }

                .nav-search {
                    .navbar-nav {
                        align-items: center;
                        cursor: pointer !important;

                        li {
                            text-align: center;
                            padding: 0px 15px;
                            
                            a {
                                text-decoration: none;
                                color: $white;
                                letter-spacing: 0.115em;
    
                                &:hover {
                                    font-weight: 700;
                                    transition: 0.2s;
                                }
                            }

                            .sub-menu {
                                position: absolute;
                                transition: 0.5s;
                                background: rgba(118, 45, 90, 0.7);
                                top: 144px;
                                max-height: 0;
                                overflow: hidden;
                                list-style-type: none;
                                padding: 0;
                                min-width: 168px;

                                li {
                                    text-align: left;
                                    padding: 0;
                                    border-bottom: 1px solid $white;

                                    a {
                                        position: relative;
                                        display: block;
                                        padding: 6px 12px;
                                        font-weight: 700;
                                        font-size: 12px;
                                        letter-spacing: 0.36em;
                                        width: 100%;

                                        &::after {
                                            content: '>';
                                            position: absolute;
                                            right: 12px;
                                        }

                                        &:hover {
                                            background: rgba(118, 45, 90, 0.7);
                                        }
                                    }

                                    &:last-child {
                                        border-bottom: none;
                                    }
                                }
                            }
                        }

                        .current-menu-item {
                            font-weight: 700;
                            transition: 0.2s;
                        }

                        #odb_search-nav {

                            @media only screen and (min-width: 1200px) {
                                display: none;
                            }
                        }


                        .odb_nav-dropdown-container {
                            .odb_nav-dropdown {
                                min-width: 200px;
                                background: rgba(118, 45, 90, 0.8);
                                border-radius: 0;
                                padding: 0;
                                border: none;

                                
                                li {
                                    border-bottom: 1px solid $white;

                                    &:hover {
                                        background: rgba(214, 81, 163, 0.5);
                                    }
                                    
                                    &:last-child {
                                        border: none;
                                    }

                                    a {
                                        position: relative;
                                        font-weight: 700;
                                        font-size: 12px;
                                        letter-spacing: 0.36em;

                                        &:hover {
                                            background: none;
                                        }

                                        &::after {
                                            content: '>';
                                            position: absolute;
                                            right: 0;
                                        }
                                    }
                                }

                            }
                        }
                    }

                    .search-container {
                        @media only screen and (max-width: 1200px) {
                            display: none;
                        }

                        input {
                            border: none;
                            padding: 11px 13px;
                            max-width: 290px;
                            width: 100%;
                            color: $primaryColor;
                        }
                    }
                }
            }
        }

        .header-bg-container {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: $primaryColor;
            opacity: 50%;
            mix-blend-mode: multiply;
            
        }
        .header-bg {
            filter: saturate(2);
            background: url('http://orchidee.test/wp-content/uploads/2023/05/GRADIENT.png');
            background-position: center;
            background-size: cover;
            position: absolute;
            z-index: -2;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 45%;
            object-fit: cover;
            object-position: center;
            mix-blend-mode: multiply;
        }
        .header-bg2 {
            position: absolute;
            background: url('http://orchidee.test/wp-content/uploads/2023/05/GRADIENT.png');
            background-position: center;
            background-size: cover;
            z-index: -3;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 45%;
            object-fit: cover;
            object-position: center;
        }
    }

    #header-2 {
        position: fixed;
        // width: 100%;
        z-index: 99999;
        
        .header-container {
            padding: 11px 0px;
            margin: auto;
            max-width: 1440px;
            height: 100% !important;
            align-items: center;

            @media only screen and (max-width: 576px) {
                padding: 24px 0px;
            }

            .custom-logo-link {
                .custom-logo {
                    max-height: 45px !important;
                    max-width: 125px;

                    @media only screen and (max-width: 576px) {
                        max-height: 36px !important;
                        max-width: 112px;
                    }
                }
            }

            .odb_nav-menu-mobile {
                @media only screen and (min-width: 576px) {
                    display: none;
                }

                i {
                    cursor: pointer;
                
                    &:hover {
                        transform: scale(1.1);
                        transition: 0.2s;
                    }
                }
            }

            .odb_mobile-nav {            
                @media only screen and (max-width: 576px) {
                    overflow: hidden;
                    max-height: 0;
                    transition: 0.5s;
                    background-color: rgba(101, 37, 130, 0.7);
                    margin: 0px;
                    margin-top: 30px;
                }
            }

            .lang-sosmed {
                align-items: center;
                margin: 0px !important;

                ul {
                    @media only screen and (max-width: 576px) {
                        float: none;
                        margin: 0;
                        padding: 20px 0px;
                        justify-content: center;
                        gap: 30px;
                    }
                }

                .lang {
                    color: $white;
                    white-space: nowrap;
                }

                .sosmed {
                    a {
                        padding: 8px;
                        text-align: center;

                        i {
                            font-size: 26px;
                            color: $white;
                        }
                    }
                }
            }

            .nav-search {
                margin-top: 30px;


                .navbar-nav {
                        cursor: pointer !important;
                        align-items: center;

                        
                        li {
                            text-align: center;
                            padding: 0px 8px;
                            
                            @media only screen and (max-width: 576px) {
                                width: 100%;
                                padding: 5px 0px;
                                position: relative;

                                &:hover {
                                    background-color: $primaryColor;
                                    transition: 0.2s;
                                }
                            }
                            
                            a {
                                text-decoration: none;
                                color: $white;
                                letter-spacing: 0.115em;
    
                                &:hover {
                                    font-weight: 700;
                                    transition: 0.2s;
                                }
                            }

                            .sub-menu {
                                position: absolute;
                                transition: 0.5s;
                                background: rgba(118, 45, 90, 0.7);
                                top: 92px;
                                max-height: 0;
                                overflow: hidden;
                                list-style-type: none;
                                padding: 0;
                                min-width: 168px;
                                z-index: 99999999999;

                                @media only screen and (max-width: 576px) {
                                    background: rgba(118, 45, 90, 0.7);
                                    top: 34px;
                                    width: 100%;
                                }

                                &:hover {
                                    max-height: 100px;
                                    transition: 0.5s;
                                }

                                li {
                                    text-align: left;
                                    padding: 0;
                                    border-bottom: 1px solid $white;

                                    a {
                                        position: relative;
                                        display: block;
                                        padding: 6px 12px;
                                        font-weight: 700;
                                        font-size: 12px;
                                        letter-spacing: 0.36em;
                                        width: 100%;

                                        &::after {
                                            content: '>';
                                            position: absolute;
                                            right: 12px;
                                        }

                                        &:hover {
                                            background: rgba(118, 45, 90, 0.7);
                                        }
                                    }

                                    &:last-child {
                                        border-bottom: none;
                                    }
                                }
                            }
                        }

                        .current-menu-item {
                            font-weight: 700;
                            transition: 0.2s;
                        }

                        .odb_nav-dropdown-container {
                            .odb_nav-dropdown {
                                min-width: 200px;
                                background: rgba(118, 45, 90, 0.8);
                                border-radius: 0;
                                padding: 0;
                                border: none;

                                
                                li {
                                    border-bottom: 1px solid $white;

                                    &:hover {
                                        background: rgba(214, 81, 163, 0.5);
                                    }
                                    
                                    &:last-child {
                                        border: none;
                                    }

                                    a {
                                        position: relative;
                                        font-weight: 700;
                                        font-size: 12px;
                                        letter-spacing: 0.36em;

                                        &:hover {
                                            background: none;
                                        }

                                        &::after {
                                            content: '>';
                                            position: absolute;
                                            right: 0;
                                        }
                                    }
                                }

                            }
                        }
                    }
            }
        }

        .header-bg-container {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: $primaryColor;
            opacity: 50%;
            mix-blend-mode: multiply;
        }
        .header-bg {
            filter: saturate(2);
            background: url('http://orchidee.test/wp-content/uploads/2023/05/GRADIENT.png');
            background-position: center;
            background-size: cover;
            position: absolute;
            z-index: -2;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 45%;
            object-fit: cover;
            object-position: center;
            mix-blend-mode: multiply;

            @media only screen and (max-width: 576px) {
                opacity: 1;
            }
        }
    }

    content {
        display: block;
        margin: auto;
        position: relative;
        max-width: 1440px;
        overflow: hidden;

        .odb_sliderContainer {
            height: 100vh !important;
            .odb_sliderItemContainer {
                height: 100vh !important;
                .orchidee_sliderItem {
                    height: 100vh !important;
                    img {
                        height: 100vh !important;
                    }
                }
            }
        }
    }
}

.blank {
    flex: 1;
}

.odb_beranda-title {
    letter-spacing: 0.68em;

    @media only screen and (max-width: 576px) {
        font-weight: 900;
        font-size: 11px;
        letter-spacing: 0.345em;
        color: #800C83;
    }
}

.odb_beranda-subtitle {
    font-weight: 600;
    letter-spacing: 0.025em;

    @media only screen and (max-width: 576px) {
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0.05em;
    }
}

.odb_desktop-only {
    @media only screen and (max-width: 576px) {
        display: none;
    }
}

.odb_mobile-only {
    @media only screen and (min-width: 576px) {
        display: none;
    }
}

.odb_mobile-bg-white {
    @media only screen and (max-width: 576px) {
        background: $white !important;
    }
}

.odb_beranda-text {
    letter-spacing: 0.05em;
}

.wpf_autocomplete:before {
    content: 'Placeholder';
    position: absolute;
    left: 10px;
    top: 6px;
}

.wpf_autocomplete:hover:before {
    display:none;
}

.h-100 {
    height: 100%;

    & > div {
        height: 100%;
    }
}

.odb_beranda-main-slider {
    @media only screen and (max-width: 576px) {
        display: none;
    }
}

.odb_beranda-mobile-main-slider {
    padding-top: 90px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.04em;
    height: 535px;
    margin-bottom: 54px;
    
    .white .sa_hero_slider, .black .sa_hero_slider {
        @media only screen and (max-width: 576px) {
            max-height: 445px !important;
        }
    }

    .wp-block-group__inner-container, .white, .owl-carousel {
        @media only screen and (max-width: 576px) {
            height: 100% !important;
        }
    }

    img {
        width: 100% !important;
    }

    h6 {
        font-size: 10px;
        letter-spacing: 0.115em;
        padding: 0px 38px;
    }

    h2 {
        font-weight: 800;
        font-size: 24px;
        letter-spacing: 0.115em;
        padding: 0px 38px;
    }

    p {
        padding: 0px 38px;
    }

    @media only screen and (min-width: 576px) {
        display: none;
    }
}

.odb_beranda-content1-container {
    .owl-stage {
        @media only screen and (max-width: 576px) {
            display: flex;
            gap: 7px;
        }
        
        .owl-item {
            @media only screen and (max-width: 576px) {
                margin-right: 0px !important;
                flex: 1;
                height: 100%;
            }
    
            .carousel-slider__item {
                @media only screen and (max-width: 576px) {
                    border-radius: 5px;
                    overflow: hidden;
                    background: $primaryColor;
                    min-height: 172px;

                    &:hover {
                        background: $secondaryColor2;
                        transition: 0.2s;
                    }
                }
        
                a {
                    text-decoration: none;
                    
                    .carousel-slider__caption {
                        padding: 10px 14px;

                        .title {
                            margin-top: 0px;
                            font-weight: 500 !important;
                            font-size: 20px !important;
                            text-align: center !important;
                            letter-spacing: 0.03em !important;
                            color: $black;
        
                            @media only screen and (max-width: 576px) {
                                color: $white;
                                font-size: 11px !important;
                                letter-spacing: 0.025em !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.carousel-slider-nav-icon {
    color: $primaryColor;    
}

.odb_beranda-content2-container {
    .carousel-slider[data-slide-type="post-carousel"] .owl-stage {
        flex-wrap: unset;
    }

    .owl-stage {
        gap: 7px;

        .owl-item {
            @media only screen and (max-width: 576px) {
                margin-right: 0px !important;
                flex: 1;
            }
    
            .carousel-slider__post {
                box-shadow: none;
        
                @media only screen and (max-width: 576px) {
                    border-radius: 5px;
                    overflow: hidden;
                    background: $primaryColor;
                    min-height: 172px;
        
                    &:hover {
                        background: $secondaryColor2;
                        transition: 0.2s;
                    }
                }
        
                .carousel-slider__post-content {
                    @media only screen and (max-width: 576px) {
                        margin: 0px !important;
                        padding: 0px !important;
                    }
        
                    .carousel-slider__post-header {
                        .carousel-slider__post-image {
                            height: 318px;
        
                            @media only screen and (max-width: 576px) {
                                height: 132px;
                            }
                        }
        
                        .carousel-slider__post-title {
                            display: block;
                            margin: 0;
                            margin-top: 36px;
                            padding: 0px 25px; 
                            text-decoration: none;
                            height: 30px;
        
                            @media only screen and (max-width: 576px) {
                                margin: 0px !important;
                                padding: 10px 14px !important;
                                height: auto;
                                min-height: auto;
                            }
            
                            h2 {
                                font-weight: 700 !important;
                                font-size: 16px !important;
                                letter-spacing: 20% !important;
                                text-align: center;
                                word-break: break-all;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                color: $black;
                                display: -webkit-box;
                                -webkit-line-clamp: 2; /* number of lines to show */
                                line-clamp: 2; 
                                -webkit-box-orient: vertical;
                                
                                @media only screen and (max-width: 576px) {
                                    margin: 0px !important;
                                    font-size: 11px !important;
                                    letter-spacing: 0.025em !important;
                                    color: $white;
                                }
                            }
                        }
                    }
            
                    .carousel-slider__post-excerpt {
                        margin: 0;
                        padding: 0px 25px; 
                        font-size: 16px !important;
                        letter-spacing: 0.1em !important;
                        text-align: center;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /* number of lines to show */
                                line-clamp: 2; 
                        -webkit-box-orient: vertical;
        
                        @media only screen and (max-width: 576px) {
                            display: none;
                        }
                    }
                }
                .carousel-slider__post-meta {
                    display: none;
                }
            }
        }
    }
}

.odb_beranda-content3-container {
    .owl-item {
        text-align: center;

        .sa_hover_container {
            @media only screen and (max-width: 576px) {
                padding: 0px 30px !important;
            }
        }

        img {
            // max-width: 250px !important;
            max-height: 250px;
            object-fit: cover;
            border-radius: 500px;
        }
    
        h3 {
            font-weight: 700 !important;
            font-size: 16px !important;
            letter-spacing: 20% !important;
        }

        p {
            font-size: 16px !important;
            letter-spacing: 10% !important;
        }
    }

    .white .sa_owl_theme .owl-nav {
        @media only screen and (max-width: 576px) {
            display: none !important;
        }

        .owl-prev, .owl-next {
            background-color: $primaryColor !important;
            opacity: 0.7;

            &:hover {
                background-color: $primaryColor !important;
                opacity: 1;
                transition: 0.2s;
            }
        }
    }
}

.odb_beranda-content4-container {
    @media only screen and (max-width: 576px) {
        display: none;
    }

    .eapps-instagram-feed-posts-item-template-classic {
        border: none !important;

        .eapps-instagram-feed-posts-item-text {
            font-family: $fontFam;
            font-weight: 300;
            font-size: 18px;
            letter-spacing: 0.005em;
        }
    }
}

.odb_beranda-content5-container {
    @media only screen and (max-width: 576px) {
        display: none;
    }
}

.odb_beranda-content6-container {
    width: 100%;
}

.odb_beranda-content-container {
    padding: 50px 100px;
    max-width: 1440px;
    margin: auto;
    overflow: hidden;

    @media only screen and (max-width: 576px) {
        padding: 50px 6px;
    }

    .odb_content2-container {
        .odb_content2-item {
            img {
                max-width: 390px;
                max-height: 320px;
                width: 100%;
                margin-bottom: 36px;
            }

            .title {
                font-weight: 700;
                font-size: 15px;
                text-align: center;
                letter-spacing: 0.2em;
                margin-bottom: 24px;
            }

            .text {
                font-size: 15px;
                text-align: center;
                letter-spacing: 0.2em;
                max-width: 225px;
                margin: auto;
            }
        }
    }

    .odb_content3-container {
        .odb_content3-item {
            padding: 32px;
            max-width: 350px;
            text-align: center;

            img {
                width: 250px;
                height: 250px;
                margin-bottom: 36px;
            }

            .nama {
                font-weight: 700;
                font-size: 20px;
                text-align: center;
                letter-spacing: 0.2em;
                margin-bottom: 24px;
            }

            .job {
                font-size: 18px;
                text-align: center;
                letter-spacing: 0.2em;
                margin-bottom: 24px;
            }

            .text {
                font-size: 16px;
                text-align: center;
                letter-spacing: 0.2em;
                margin: auto;
            }
        }
    }

    .odb_content4-container {
        align-self: center;

        .odb_content4-item {
            padding: 32px;

            .odb_content4-img {
                width: 100%;
                margin-bottom: 17px;
            }

            .odb_feed-container {
                margin-bottom: 23px;

                .odb_feed-item {
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            .odb_feed-content {
                .odb_feed-profile {
                    align-items: center;

                    img {
                        width: 56px;
                        height: 56px;
                        border-radius: 50px;
                    }

                    span {
                        color: $gray;
                        font-size: 20px;
                        letter-spacing: 0.005em;
                    }
                }

                .odb_feed-text {
                    padding-left: 73px;

                    p {
                        font-weight: 300;
                        font-size: 16px;
                        letter-spacing: 0.005em;
                    }
                }
            }

        }
    }

    .odb_content5-container {
        @media only screen and (max-width: 576px) {
            display: none;
        }

        .odb_content5-highlight-container {
            text-align: center;
            margin-bottom: 39px;
            
            .odb_content5-highlight {
                margin: auto;
                width: 711px;
                height: 400px;
                background: #909090;
                margin-top: 54px;
                margin-bottom: 21px;
            }
            
            span {
                font-weight: 600;
                font-size: 17px;
                letter-spacing: 0.005em;
            }
        }

        .odb_content5-item-container {
            .odb_content5-item {
                padding: 32px;

                .odb_content5-item-img {
                    min-height: 236px;
                    background: #909090;
                    margin-bottom: 29px;
                }

                span {
                    font-weight: 600;
                    font-size: 17px;
                    letter-spacing: 0.005em;
                }
            }
        }
    }
}

.footer {
    position: relative;
    background: url('http://orchidee.test/wp-content/uploads/2023/05/GRADIENT.png');
    background-position: center;
    background-size: cover;
    padding: 27px 60px 60px 60px;

    @media only screen and (max-width: 576px) {
        padding: 6px;
    }

    .footer-container {
        position: relative;
        max-width: 1440px;
        margin: auto;

        .odb_footer-btt {
            position: absolute;
            right: 0;
            top: 0;
            background: none;
            border: none;
            color: $white;
            font-weight: 500;
            font-size: 10px;
            letter-spacing: 0.02em;

            @media only screen and (max-width: 576px) {
                position: relative;
                margin-bottom: 32px;
            }
    
            &:hover {
                font-weight: 800;
                transition: 0.2s;
            }
        }
    
        .odb_footer-left {
            padding: 36px 0px 0px 24px;
            text-align: left;
    
            .odb_footer-title {
                font-weight: 700;
                font-size: 16px;
                letter-spacing: 0.02em;
            }
    
            .odb_footer-address {
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 0.02em;
            }
        }
    
        .odb_footer-right {
            text-align: right;

            @media only screen and (max-width: 576px) {
                text-align: center;
            }
            
            nav {
                ul {
                    list-style-type: none;
                    padding: 0px;
                    display: flex;
                    // flex-wrap: wrap;
                    justify-content: center;
                    
                    @media only screen and (min-width: 576px) {
                        justify-content: end;
                    }
    
                    li {
                        padding: 0px 10px;
                        border-right: 1px solid $white;

                        @media only screen and (max-width: 576px) {
                            padding: 0px 5px;
                            border-right: 0.5px solid $white;
                        }
    
                        &:last-child {
                            border-right: none;
                            padding-right: 0px;
                        }
    
                        a {
                            text-decoration: none;
                            color: $white;
                            font-weight: 500;
                            font-size: 16px;
                            letter-spacing: 0.105em;

                            @media only screen and (max-width: 576px) {
                                font-size: 10px;
                            }

    
                            &:hover {
                                font-weight: 800;
                                transition: 0.2s;
                            }
                        }
                    }
                }
            }
    
            .odb_footer-copy {
                font-weight: 700;
                font-size: 12px;
                line-height: 220%;
                letter-spacing: 0.02em;
            }
    
            .odb_footer-powered {
                font-weight: 500;
                font-size: 10px;
                letter-spacing: 0.02em;
            }
        }
    }
}

.odb_category-content {
    padding-top: 144px;
    max-width: 1440px;
    margin: auto;
    overflow: hidden;

    @media only screen and (max-width: 576px) {
        padding-top: 90px;
    }

    .odb_category-image {
        width: 100%; 
        max-width: 100vw; 
        max-height: 100vh; 
        object-fit: cover;
        margin-bottom: 60px;
    }

    .odb_cat-title {
        color: $primaryColor;
        font-weight: 800;
        font-size: 48px;
        letter-spacing: 0.33em;
        margin-bottom: 24px;
        word-break: break-all;
    }

    .attachment-post-thumbnail {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .site-content {
        @media only screen and (max-width: 576px) {
            padding: 20px;
        }
    }

    #content {
        .odb_post-array-container {
            border-top: 1px solid $lightGray;
            padding-top: 24px;
            padding-bottom: 70px;
        }

        .odb_post-container {
            padding-top: 24px;
            padding-bottom: 70px;
        }

        img {
            margin-bottom: 43px;
        }
    }

    .entry {
        .odb_post-title {
            font-weight: 600;
            font-size: 36px;
            letter-spacing: 0.045em;
            margin-bottom: 30px ;
    
            a {
                text-decoration: none;
                color: $black;
            }
        }

        p {
            font-size: 18px;
            letter-spacing: 0.045em;
            margin-bottom: 30px;
        }

        .odb_post-date {
            font-size: 12px;
            letter-spacing: 0.045em;
            margin-bottom: 30px;
        }
    }
}

.sidebar-area-one {
    padding: 0px 52px;

    @media only screen and (max-width: 576px) {
        padding: 10px;
    }

    h3 {
        padding: 15px 23px;
        background: url('http://orchidee.test/wp-content/uploads/2023/05/GRADIENT.png');
        background-position: bottom center;
        background-size: 200%;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.35em;
    }

    h2 {
        padding: 18px 23px;
        background: url('http://orchidee.test/wp-content/uploads/2023/05/GRADIENT.png');
        background-position: bottom center;
        background-size: 200%;
        font-weight: 700;
        font-size: 21px;
        letter-spacing: 0.33em;
        margin-bottom: 50px;
    }

    .wp-block-latest-posts {
        padding: 9px 24px;

        li {
            a {
                text-decoration: none;
                font-size: 14px;
                letter-spacing: 0.11em;
                color: $black;
            }
        }
    }

    .wp-block-image {
        padding-bottom: 32px;
    }

    h4 {
        margin-bottom: 8px;
    }
}

.odb_sidebar-promo {
    li {
        margin-bottom: 72px !important;
        text-align: center !important;

        .wp-block-latest-posts__featured-image {
            margin-bottom: 32px !important;

            img {
                width: 100%;
            }
        }

        .wp-block-latest-posts__post-title {
            font-weight: 700 !important;
            font-size: 24px !important;
            line-height: 28px !important;
            letter-spacing: 0.33em !important;
            color: $primaryColor !important;
            margin-bottom: 8px !important;
        }

        .wp-block-latest-posts__post-excerpt {
            font-weight: 600 !important;
            font-size: 14px !important;
            letter-spacing: 0.045em !important;
            color: $primaryColor !important;
        }
    }
}

breadcrumbs {
    display: block;
    font-size: 12px;
    letter-spacing: 0.41em;
    margin-bottom: 15px;

    a {
        text-decoration: none;
        color: $black;
    }
}
.odb_produk-group {
    margin: 50px 242px;
    border-bottom: 1px solid $lightGray;

    @media only screen and (max-width: 576px) {
        margin: 50px 10px;
    }


    &:last-child {
        border-bottom: none;
    }

    h2 {
        font-weight: 700;
        font-size: 48px;
        letter-spacing: 0.33em;
        margin-bottom: 24px;
    }
    
    .odb_produk-cat {
        font-size: 11px;
        letter-spacing: 0.41em;
    }

    .odb_produk-image {
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .odb_produk-title {
        font-weight: 600;
        font-size: 27px;
        letter-spacing: 0.045em;
    }

    .odb_produk-text {
        font-size: 15px;
        letter-spacing: 0.045em;
    }

    h3 {
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.045em;
    }

    p {
        font-size: 18px;
        letter-spacing: 0.045em;
    }
}

.odb_about-content-group {
    padding: 50px 122px;

    @media only screen and (max-width: 576px) {
        padding: 50px 6px;
    }
}

.odb_about-group {
    margin: 50px 122px;

    @media only screen and (max-width: 576px) {
        margin: 50px 6px;
    }
}

.odb_image-full {
    img {
        width: 100%;
        object-fit: cover;
    }
}

.odb_form {
    label {
        font-weight: 400 !important;
        font-size: 18px !important; 
        letter-spacing: 0.045em !important;
    }

    input, textarea {
        border: none !important;
        box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1) !important;
    }
}

.odb_form-submit {
    border-radius: 0 !important;
    width: 280px !important;
    font-size: 18px !important;
    letter-spacing: 0.34em !important;
}

.odb_desktop-only {
    @media only screen and (max-width: 576px) {
        display: none;
    }
}

.odb_search-container {
    min-height: 100vh;
    padding: 10px;
    padding-top: 200px;
 
    .searchform {
        margin-bottom: 50px;

        div {
            display: flex;
            gap: 5px;
    
            input {
                height: 50px;
                border: 1px solid #E5E5E5;
                box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
                font-size: 18px;
                letter-spacing: 0.115em;
                width: 10%;
                padding: 10px;
            }
    
            input[type=text] {
                flex: 1;
            }
        }
    }
}

.odb_category-content, .odb_category-content-blog {
    main {
        padding: 0px 122px;

        @media only screen and (max-width: 576px) {
            padding: 0px 6px;
        }
        
        .odb_cat-blog-recent {
            border-bottom: 1px solid $lightGray;
            margin-bottom: 30px;

            .odb_cat-blog-last {

                article {
                    .entry-header {
                        img {
                            margin-bottom: 34px;
                        }

                        .entry-title {
                            font-weight: 700;
                            font-size: 36px;
                            letter-spacing: 0.33em;
                            margin-bottom: 32px;
                            
                            a {
                                color: $primaryColor;
                                text-decoration: none;
                            }
                        }
                    }

                    .entry-content {
                        max-height: 250px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-bottom: 32px;

                        & > * {
                            white-space: pre-wrap;
                            overflow-wrap: break-word;
                        }

                        p {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 4;
                            overflow: hidden;
                        }

                        .read-more {
                            font-size: 18px;
                            letter-spacing: 0.045em;
                            color: $primaryColor;
                            text-decoration: none;
                        }
                    }

                    .author {
                        font-size: 11px;
                        letter-spacing: 0.045em;
                    }
                }
            }

            .odb_cat-blog-sidebar {
                article {
                    padding-top: 26px;
                    padding-bottom: 10px;
                    border-top: 1px solid $lightGray;

                    &:first-child {
                        @media only screen and (min-width: 576px) {
                            border-top: none;
                            padding-top: 0px;
                        }

                        @media only screen and (max-width: 576px) {
                            margin-top: 26px;
                        }
                    }

                    .author {
                        font-size: 11px;
                        letter-spacing: 0.045em;
                        margin-bottom: 15px;
                    }

                    .entry-header {
                        img {
                            margin-bottom: 25px;
                        }

                        .entry-title {
                            font-weight: 700;
                            font-size: 21px;
                            letter-spacing: 0.33em;
                            margin-bottom: 16px;
                            
                            a {
                                color: $primaryColor;
                                text-decoration: none;
                            }
                        }
                    }

                    .entry-content {
                        p {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 4;
                            font-weight: 600;
                            font-size: 15px;
                            letter-spacing: 0.045em;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .page-header {
            .page-title {
                font-weight: 700;
                font-size: 24px;
                letter-spacing: 0.33em;
                color: $primaryColor;
                margin-bottom: 45px;
            }
        }

        #category-posts {
            margin-bottom: 100px;
            row-gap: 100px;

            article {
                .entry-header {
                    img {
                        height: 360px;
                        width: 100%;
                        margin-bottom: 26px;
                    }

                    .entry-title {
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                        height: 48px;
                        font-weight: 800;
                        font-size: 21px;
                        letter-spacing: 0.33em;
                        margin-bottom: 24px;
                        
                        a {
                            color: $primaryColor;
                            text-decoration: none;
                        }
                    }
                }

                .entry-content {
                    p {
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        overflow: hidden;
                        font-weight: 600;
                        font-size: 15px;
                        letter-spacing: 0.045em;
                    }
                }
            }
        }

        .load-more {
            text-align: center;
            margin-bottom: 130px;

            button {
                background: none;
                border: none;
                font-weight: 800;
                font-size: 21px;
                letter-spacing: 0.33em;
                color: $primaryColor;
            }
        }
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    opacity: 0;
    transition: 0.2s;
    margin: auto;
    border: 4px solid #f3f3f3; /* Set the border color */
    border-top: 4px solid $primaryColor; /* Set the color of the spinning element */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite; /* Apply the spin animation */
}
  
.odb_category-content-promo {
    .row {
        .site-content {
            .entry-header {
                .entry-title {
                    margin-top: 82px;
                    text-align: center;

                    a {
                        font-weight: 700;
                        font-size: 48px;
                        letter-spacing: 0.33em;
                        color: $primaryColor;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.odb_category-content-blog-single{
    .site-main {
        .odb_cat-blog-recent {
            margin-top: 56px;

            .odb_cat-blog-last {
                .author {
                    margin-bottom: 32px;
                    font-size: 14px;
                    letter-spacing: 0.045em;
                }

                .entry-content {
                    max-height: inherit;
                    overflow: auto;
                    text-overflow: inherit;
                    white-space: inherit;

                    p {
                        display: block !important;
                        -webkit-box-orient: initial !important;
                        -webkit-line-clamp: inherit !important;
                        overflow: auto !important;
                    }
                }
            }
        }
    }
}

.odb_blog-content-sidebar-header {
    border-top: 1px solid $lightGray;
    border-bottom: 1px solid $lightGray;
    padding: 12px 0px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.33em;
}